.drawith__info {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--header-height));
  top: var(--header-height);
  left: 0px;
}

.drawith__aboutus {
  text-align: center;
}
.drawith__aboutus-logo {
  width: 100%;
  height: 8rem;
  margin-top: 5rem;
  background-image: url("../../static/img/header-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.drawith__PHONE .drawith__aboutus-logo {
  margin-top: 2rem;
}
span.drawith__aboutus-version {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
}
.drawith__aboutus-draw {
  height: 30rem;
  width: 100%;
  margin: 3rem 0px;
  background-image: url("../../static/img/draw.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.drawith__PHONE .drawith__aboutus-draw {
  height: 20rem;
}
.drawith__aboutus-info {
  line-height: 2.5rem;
}

.drawith__info-tabs-wrapper {
  width: 80%;
  height: calc(var(--100vh) - var(--header-height) - 7%);
  margin: 2% 10% 0px;
}
.drawith__info-tabs-wrapper .page-title {
  text-align: center;
  font-size: 3.5rem;
  margin: 4rem;
}
.drawith__info-tabs-wrapper * {
  font-size: 1.5rem;
  font-weight: 100;
}
.drawith__info-tabs-wrapper h1,
.drawith__info-tabs-wrapper h2 {
  text-align: left;
  font-weight: 900;
  margin: 2rem 0px;
  font-family: Poppins-Medium;
}
.drawith__info-tabs-wrapper h1 {
  font-size: 2.5rem;
  margin: 1rem;
}
.drawith__info-tabs-wrapper h2 {
  font-size: 2rem;
}
.drawith__info-tabs-wrapper a {
  color: #046e82;
  text-decoration: none;
}
.drawith__info-tabs-wrapper ul {
  margin: 1rem 0px 1rem 2rem;
}
.drawith__info-tabs-wrapper p {
  margin: 1rem 0px;
}
.drawith__info-tabs-wrapper strong {
  font-weight: 900;
  font-family: Poppins-Medium;
}
.drawith__info-tabs-wrapper table {
  border-collapse: collapse;
}
.drawith__info-tabs-wrapper table td {
  padding: 1rem 1.5rem;
  border: solid 1px var(--palette-gray-6);
}
.drawith__PHONE .drawith__info-tabs-wrapper {
  width: 90%;
  height: calc(var(--100vh) - var(--header-height) - 4%);
  margin: 2% 5% 2rem;
}
.drawith__PHONE .drawith__info-tabs-wrapper .page-title {
  font-size: 3rem;
  margin: 2rem;
}
.drawith__PHONE .drawith__info-tabs-wrapper h1 {
  font-size: 2rem;
}
.drawith__PHONE .drawith__info-tabs-wrapper h2 {
  font-size: 1.8rem;
}
