.notSupported__container {
  position: absolute;
  background-color: white;
  top: var(--header-height);
  left: 0rem;
  width: 100%;
  height: calc(100% - var(--header-height));
  z-index: 50;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, var(--palette-primary-0), var(--palette-primary-2));
  /* background: linear-gradient(217deg, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 70.71%),
              linear-gradient(127deg, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0) 70.71%),
              linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%); */
}
.drawith__PORTRAIT .notSupported__container {
  flex-direction: column;
}
.drawith__LANDSCAPE .notSupported__container {
  flex-direction: row;
  justify-content: center;
}

.drawith__PORTRAIT .notSupported__image {
  height: 30%;
  margin: 15%;
}
.drawith__LANDSCAPE .notSupported__image {
  height: 50%;
  margin: 5%;
}

.drawith__PORTRAIT .drawith_notSupported__text_container {
  width: 80%;
}
.drawith__LANDSCAPE .drawith_notSupported__text_container {
  width: 50%;
}
.drawith_notSupported__text_container {
  text-align: center;
}
.notSupported__title,
.notSupported__subTitle {
  font-family: sans-serif;
  font-weight: 100;
}

.notSupported__title {
  font-size: 6rem;
  line-height: 10rem;
  font-weight: 300;
}
.notSupported__subTitle {
  font-size: 3rem;
  font-weight: 300;
}
.drawith__PHONE .notSupported__title {
  font-size: 4rem;
}
.drawith__PHONE .notSupported__subTitle {
  font-size: 2rem;
}
