.folder__container {
  position: absolute;
  background-color: var(--palette-white);
  top: var(--header-height);
  left: 0rem;
  width: 100%;
  height: calc(100% - var(--header-height));
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.folder__topbar {
  position: relative;
  top: 0px;
  left: 0rem;
  height: 5rem;
  z-index: 60;
  padding: 0rem 4rem;
  flex-grow: 0;
}
.drawith__PHONE .folder__topbar {
  padding: 0rem calc(2rem + env(safe-area-inset-right)) 0rem calc(2rem + env(safe-area-inset-left));
}

.folder__topbar-title {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  line-height: 5rem;
  font-size: 2.5rem;
  height: 100%;
  margin: 0 0.5rem;
  font-family: "Poppins-Medium";
  white-space: nowrap;
  /* font-weight: 900; */
  color: var(--palette-gray-0);
}
.drawith__PHONE .folder__topbar-title {
  line-height: 5rem;
  font-size: 1.6rem;
}

.folder__topbar-button {
  float: right;
  height: 100%;
  margin: 0 0.5rem;
  z-index: 70;
  cursor: pointer;
}
.folder__topbar-button.folder__topbar-button-ICON {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.75rem 1.25rem;
}
.drawith__PHONE .folder__topbar-button.folder__topbar-button-ICON {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0.75rem;
}

.folder__topbar-button-TEXT {
  width: 14rem;
  margin: -2px 1.5rem 0px;
  border: solid 1px var(--palette-gray-3);
  border-radius: 0.75rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 5rem;
  color: var(--palette-blue-0);
}
.drawith__PHONE .folder__topbar-button-TEXT {
  width: 5.5rem;
  border: none;
  text-align: right;
  font-size: 1.6rem;
  margin: -2px 0.5rem 0px;
}

.folder__topbar-button-delete {
  display: none;
  float: left;
}
.drawith__FOLDER-SELECT-MODE .folder__topbar-button-delete {
  display: block;
}

.folder__new-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0;
}
.drawith__PHONE .folder__new-container {
  height: 20rem;
  align-items: center;
}

.folder__drawings-container {
  width: 100%;
  position: relative;
  left: 0rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow: auto;
  padding-top: 2rem;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  margin-bottom: var(--app-margin-bottom);
}

.drawith__FOLDER-SELECT-MODE .folder__drawing-new-drawing {
  filter: opacity(30%) !important;
  cursor: auto;
}

.folder__new-container .folder__drawing-new-drawing {
  text-align: center;
  margin: 4rem 0rem;
  position: relative;
  overflow: hidden;
  background: url("../../../static/img/new.png") no-repeat center, url("../../../static/img/paper/white.png");
  background-size: auto 50%, 43px;
}

.folder__drawing-new-drawing span {
  font-size: 2rem;
  line-height: 5rem;
}

.drawith__PORTRAIT .folder__drawing-new-drawing span {
  font-size: 1.5rem;
}
